header{
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #3f5cc8;
  padding: 10px;
  border-bottom: 3px solid lightgray;
  color: white;
}
#title{
  color: white;
}
#cart{
  position: absolute;
  right: 10px;
  top: 10px;
}
