.product-filter-con{
  display: flex;
  padding: 30px;
  max-width: 1050px;
  margin: 0 auto 30px;
  gap: 20px;
}
.product-filter-con>button{
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #3f5cc8;
  color: white;
}
.product-filter-con>button:hover{
  background-color: #6c84da;
}
.product-filter>input{
  padding: 10px;
}
