body{
  margin: 0;
}
a{
  color: black;
  text-decoration: none;
}
button, button:focus-visible{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header, section{
  position: relative;
}

/* css 나누기 */
